body {
    background-image: url("bckgnd.jpg");
    height: 800px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: relative;
}

.topright {
    position: absolute;
    top: 0px;
    right: 0px;
}